h1 {
  /* 文字色を赤色に指定 */
  color: red;
}

#hoge {
  /* 背景色を濃い青色に指定 */
  background-color: #248;
  /* 文字色を白色に指定 */
  color: #fff;
}

.fuga {
  /* 背景色を濃い緑色に指定 */
  background-color: green;
  /* 文字色を白色に指定 */
  color: #fff;
}

div > span > h1 {
  /* 文字色を青色に指定 */
  color: blue;
}